*{
    font-family: Roboto;
}
.master-signup-main-container{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.master-signup-login-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 440px;
    width: 400px;
    background-color: #000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 1px 0px 10px 0px #bfbfbf;
}
.master-signup-greeting{
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
}
.master-signup-greeting-btn{
    height: 40px;
    width: 100px;
    border-style: none;
    border-radius: 4px;
    background-color: #0a9aee;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}
.master-signup-card{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    box-shadow: 1px 0px 10px 0px #bfbfbf;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.master-signup-heading{
    color: #0b385c;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}
.master-signup-email-label{
    color: #254a68;
    font-size: 17px;
    font-weight: 600;
    padding-left: 50px;
    
}
.master-signup-password-label{
    color: #254a68;
    font-size: 17px;
    font-weight: 600;
    padding-left: 50px;
}

.master-signup-email-input{
    height: 20px;
    width: 250px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    outline: none;
    border-radius: 4px;
    border-style: solid;
    border-color: #a7a7a7;
    border-width: 1px;
    padding: 15px;
    margin-left: 50px;
}
.master-signup-email-input:focus{
    box-shadow: 0px 0px 10px 0px #bfbfbf;
}
.master-signup-password-input{
    height: 20px;
    width: 250px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-radius: 4px;
    border-style: solid;
    border-color: #a7a7a7;
    border-width: 1px;
    padding: 15px;
    margin-left: 50px;
}
.master-signup-password-input:focus{
    box-shadow: 0px 0px 10px 0px #bfbfbf;
}

.master-signup-btn-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.master-signup-card-signup-btn{
    height: 35px;
    width: 90px;
    border-style: none;
    border-radius: 4px;
    background-color: #0a9aee;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
